snippet note
---
date: [`!v strftime("%H:%M")`, `!v strftime("%Y-%m-%d")`]
---

$0


#tags

### Links
[[]]

endsnippet

snippet daily
---
date: [`!v strftime("%H:%M")`, `!v strftime("%Y-%m-%d")`]
---


# Today's Schedule

- [ ] $0

# Things to remember 

- [ ] 

endsnippet
